* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #1F2937;
    --main-txt-color: #f9faf8;
    --sec-txt-color: #e5e7eb;
    --blue: #3882f6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar,
.subtext {
    font-size: 18px;
    color: var(--sec-txt-color);
}


.navbar {
    display: flex;
    padding: 20px 135px;
    align-items: center;
    list-style-type: none;
    background-color: var(--main-bg-color);
    gap: 16px;
}

li:first-child {
    font-size: 24px;
    color: var(--main-txt-color);
    font-weight: bold;
    margin-right: auto;
}

.hero {
    display: flex;
    background-color: var(--main-bg-color);
    justify-content: space-between;
    align-items: center;
    padding: 90px 135px;
    gap: 32px;
}

header {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 1 auto;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--main-txt-color);
}

#hero-btn {
    font-weight: bold;
    color: var(--sec-txt-color);
    background-color: var(--blue);
    border: 0px;
    padding: 10px 36px;
    border-radius: 8px;
    align-self: flex-start;
    font-size: 16px;
}

.img-container {
    align-self: center;
    background-color: #6D747D;
    padding: 110px 150px; 
    color: var(--sec-txt-color)
}
