* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #1F2937;
    --main-txt-color: #f9faf8;
    --sec-txt-color: #e5e7eb;
    --blue: #3882f6;
}

/* Removes the extra white space on mobile view */
html, body {
    overflow-x: hidden;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
}

/* NAVBAR SECTION */

.navbar,
.subtext {
    font-size: 18px;
    color: var(--sec-txt-color);
}


.navbar {
    display: flex;
    padding: 15px 135px;
    align-items: center;
    list-style-type: none;
    background-color: var(--main-bg-color);
    gap: 16px;
    flex-wrap: wrap;
}

li:first-child {
    font-size: 24px;
    color: var(--main-txt-color);
    font-weight: bold;
    margin-right: auto;
}

/* HERO SECTION */

.hero {
    display: flex;
    background-color: var(--main-bg-color);
    justify-content: space-between;
    align-items: center;
    padding: 120px 135px;
    gap: 32px;
    flex-wrap: wrap;
}

header {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 1 auto;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--main-txt-color);
}

#hero-btn {
    font-weight: bold;
    color: var(--sec-txt-color);
    background-color: var(--blue);
    border: 0px;
    padding: 10px 36px;
    border-radius: 8px;
    align-self: flex-start;
    font-size: 16px;
}

.img-container {
    align-self: center;
    background-color: #6D747D;
    padding: 110px 120px; 
    color: var(--sec-txt-color);
    font-size: 18px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--main-bg-color);
    text-align: center;
}

/* INFORMATION SECTION */
.gallery {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.information {
    flex-wrap: wrap;
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 0;
}
.gallery-item {
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 80px;
    background-color: white;
    border: 4px solid var(--blue);
}

.text {
    font-size: 18px;
    text-align: center;
    color: var(--main-bg-color);
}


/* CONTAINER SECTION */
.quote-container {
    display: flex;
    flex-direction: column;
    padding: 120px 280px;
    background-color: var(--sec-txt-color);
    color: var(--main-bg-color);
    flex-wrap: wrap;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;

}

.quoter {
    margin-right: 30px;
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

/* CTA SECTION */

.cta-container {
    padding: 120px 180px;
}

.cta {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 50px 120px;
    background-color: var(--blue);
    color: var(--main-txt-color);
}

.title {
    font-size: 26px;
    font-weight: bold;
}

.cta-button {
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 32px;
    border-radius: 10px;
    color: var(--main-txt-color);
    background-color: var(--blue);
    border: 2px solid var(--main-txt-color);
}

/* FOOTER */
footer {
    color: var(--main-txt-color);
    padding: 40px 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}